.home__select {
  .select_1 van-dropdown-menu van-hairline--top-bottom{
    flex: 1;
  }



}
.top{
  .top1 van-icon van-icon-scan{
    width: 40px !important;
    margin-top: 50px !important;
    height: auto !important;
  }
}