.shuffling {
    .van-swipe-item {
        height: 150px !important;
        width: 100% !important;
    }
}

.classify {
    .van-divider {
        margin: 0 !important;
    }
}

// 分类侧边
.sidebar {
    .van-sidebar {
        border: 1px solid gray !important;
    }
    .van-sidebar-item {
        background-color: #8a8585;
    }
}